In [3]:
from pandas import DataFrame
import numpy as np

In [5]:
df1=DataFrame(np.arange(16).reshape((4,4)),index=['a','b','c','d'],columns=['one','two','three','four'])  # 创建一个dataframe
df1

   one  two  three  four
a    0    1      2     3
b    4    5      6     7
c    8    9     10    11
d   12   13     14    15

In [6]:
df1.loc['e'] = 0  # 优雅地增加一行全0
df1

   one  two  three  four
a    0    1      2     3
b    4    5      6     7
c    8    9     10    11
d   12   13     14    15
e    0    0      0     0

In [22]:
df1[(df1==0).all(axis=1) == False]  # 找到它

   one  two  three  four
a    0    1      2     3
b    4    5      6     7
c    8    9     10    11
d   12   13     14    15

In [13]:
(df1==0).all(axis=1)

a    False
b    False
c    False
d    False
e     True
dtype: bool

In [19]:

# 删除包含0和1的列
df1[(df1==0).all() == False]  # 删了它

d:\python\envs\jupyterpy36\lib\site-packages\ipykernel_launcher.py:3: UserWarning: Boolean Series key will be reindexed to match DataFrame index.
  This is separate from the ipykernel package so we can avoid doing imports until

IndexingError: Unalignable boolean Series provided as indexer (index of the boolean Series and of the indexed object do not match