In [1]:
import pandas as pd

## 按一列切分

In [2]:
df = pd.DataFrame({'AAA' : [4,5,6,7], 
                   'BBB' : [10,20,30,40],
                   'CCC' : [100,50,-30,-50]}); df

   AAA  BBB  CCC
0    4   10  100
1    5   20   50
2    6   30  -30
3    7   40  -50

In [3]:
dflow = df[df.AAA <= 5]; dflow

   AAA  BBB  CCC
0    4   10  100
1    5   20   50

In [4]:
dfhigh = df[df.AAA > 5]; dfhigh

   AAA  BBB  CCC
2    6   30  -30
3    7   40  -50

In [ ]:
# data_chongzhi = data2[data2['商品标题'].str.contains('充值')]

## 按多列分

In [5]:
 df = pd.DataFrame({'AAA' : [4,5,6,7], 
                    'BBB' : [10,20,30,40],
                    'CCC' : [100,50,-30,-50]}); df

   AAA  BBB  CCC
0    4   10  100
1    5   20   50
2    6   30  -30
3    7   40  -50

In [7]:
#返回所有列
newseries1 = df.loc[(df['BBB'] < 25) & (df['CCC'] >= -40)]; newseries1

   AAA  BBB  CCC
0    4   10  100
1    5   20   50

In [8]:
#返回指定列（和，交集）
newseries  = df.loc[(df['BBB'] < 25) & (df['CCC'] >= -40), 'AAA']; newseries

0    4
1    5
Name: AAA, dtype: int64

In [10]:
#返回指定列（或，并集）
newseries2 = df.loc[(df['BBB'] > 25) | (df['CCC'] >= -40), 'AAA']; newseries2

0    4
1    5
2    6
3    7
Name: AAA, dtype: int64

In [11]:
df.loc[(df['BBB'] > 25) | (df['CCC'] >= 75), 'AAA'] = 0.1; df

   AAA  BBB  CCC
0  0.1   10  100
1  5.0   20   50
2  0.1   30  -30
3  0.1   40  -50