In [1]:
# 导入库 
import pandas as pd 
import sys

In [2]:
# 小数据集 
d = {'one':[1,1],'two':[2,2]} 
i = ['a','b']

In [5]:
# 创建 dataframe 
df = pd.DataFrame(data = d, index = i) 
df

   one  two
a    1    2
b    1    2

In [6]:
df.index

Index(['a', 'b'], dtype='object')

In [7]:
# 将列名放到索引中,使得 df 变成了二重索引 
stack = df.stack() 
stack

a  one    1
   two    2
b  one    1
   two    2
dtype: int64

In [8]:
stack.index

MultiIndex(levels=[['a', 'b'], ['one', 'two']],
           labels=[[0, 0, 1, 1], [0, 1, 0, 1]])

In [9]:
unstack = df.unstack()
unstack

one  a    1
     b    1
two  a    2
     b    2
dtype: int64