In [1]:
import pandas as pd
import numpy as np
from datetime import datetime
from impala.dbapi import connect
import warnings
warnings.filterwarnings('ignore')
pd.set_option('max_colwidth',1000)

In [2]:
# 查询所有字段
def list_col(localhost,database, port,tabls_name):
    db = connect(localhost,port,database)
    cursor = db.cursor()
    cursor.execute("select * from %s" % tabls_name)
    col_name_list = [tuple[0] for tuple in cursor.description]
    db.close()
    return col_name_list

In [3]:
# 列出所有的表
def list_table(localhost,database,port):
    db = connect(localhost,database,port)
    cursor = db.cursor()
    cursor.execute("show tables")
    table_list = [tuple[0] for tuple in cursor.fetchall()]
    db.close()
    return table_list

In [4]:
# 数据库信息
port = 21050 # 端口号
host = "172.22.210.29" # 连接地址
database = "bigtables" # 数据库名
tabls_name = "shop_order" # 表名

In [5]:
table_names = list_table(host,port,database) 
# print('库中所有表名:',*table_names,sep = '\n  ')
column_names = list_col(host,database, port,tabls_name)
# column_names = ["user_id","create_date","payable_rmb_amount","buy_num","status"]
# print('表中所有字段名:',*column_names,sep = '\n  ')

In [ ]:
# conn = connect(host = host,port = port,database = database,timeout = 60 )
# cur_data = conn.cursor()
# cur_data.execute('''SELECT 
# card_num,
# ticket_price,
# actual_price,
# entry_station_name,
# exit_station_name,
# userid,
# province,
# city,
# gender,
# age,
# phoneregion,
# phonebrand,
# phonecarrier,
# business_date_str
# FROM icr_user_trans
# WHERE ticket_type = "11"
#   AND product_type = "01"
#   AND business_date_str BETWEEN '20190101' AND '20190101';''')
# data = cur_data.fetchall()

In [13]:
column_names = ["card_num", "ticket_price", "actual_price", "entry_station_name", "exit_station_name", "userid", "province", "city", "gender", "age", "phoneregion", "phonebrand", "phonecarrier","business_date_str"]

In [14]:
data = pd.DataFrame(data,columns=column_names)

In [15]:
data.shape

(954180, 14)

In [16]:
data.head()

,card_num,ticket_price,actual_price,entry_station_name,exit_station_name,userid,province,city,gender,age,phoneregion,phonebrand,phonecarrier,business_date_str
0,10100053205007436757,300,300,五道口,苏州街,9317717,甘肃,张掖,F,30.0,北京,HUAWEI,联通,20190101
1,10100053205003832276,600,600,南锣鼓巷,次渠南,5367238,浙江,温州,F,32.0,浙江 温州,vivo,联通,20190101
2,10100053205008252304,500,500,北宫门,王府井,10150341,广东,广州,F,31.0,广东 广州市,Honor,电信,20190101
3,10100053205003887210,700,700,南邵,角门西,5336577,江苏,无锡,M,31.0,北京,Apple,移动,20190101
4,10100053205004126730,500,500,崔各庄,石门,5603508,北京,北京市,F,17.0,北京,OPPO,移动,20190101

In [17]:
data.to_csv("qrcode190101info.csv",index=False)