In [19]:
import pandas as pd
import seaborn as sns
import matplotlib.pyplot as plt
import pandas_profiling

In [2]:
import warnings
warnings.filterwarnings('ignore')
pd.set_option('max_colwidth',1000)
from matplotlib.font_manager import FontProperties
chinese = FontProperties(fname = 'C:/Windows/Fonts/msyh.ttc')
plt.rcParams['font.sans-serif'] = [u'SimHei']
plt.rcParams['axes.unicode_minus'] = False

In [3]:
def PhoneSheng(data):
    data['phoneregion'] = data['phoneregion'].fillna("空")
    data["PhoneSheng"] = data['phoneregion'].apply(lambda x:x[:2])
    data['province'] = data['province'].fillna("kong")
    data = data[data['province'].str.contains('kong') == False]
    data = data[(data["age"] > 0) & (data["age"] < 100)]
    data['gender'] = data['gender'].fillna("kong")
    data = data[data['gender'].str.contains('kong') == False]
    return data

In [4]:
customers01 = pd.read_csv('D:/work/datasets/info/qrcode201901SUM.csv')
data1 = PhoneSheng(customers01)
df1 = data1.sample(n = 20000,replace = False,axis = 0)

In [5]:
customers02 = pd.read_csv('D:/work/datasets/info/qrcode201902SUM.csv')
data2 = PhoneSheng(customers02)
df2 = data2.sample(n = 20000,replace = False,axis = 0)

In [6]:
customers03 = pd.read_csv('D:/work/datasets/info/qrcode201903SUM.csv')
data3 = PhoneSheng(customers03)
df3 = data3.sample(n = 20000,replace = False,axis = 0)

In [7]:
customers04 = pd.read_csv('D:/work/datasets/info/qrcode201904SUM.csv')
data4 = PhoneSheng(customers04)
df4 = data4.sample(n = 20000,replace = False,axis = 0)

In [8]:
customers05 = pd.read_csv('D:/work/datasets/info/qrcode201905SUM.csv')
data5 = PhoneSheng(customers05)
df5 = data5.sample(n = 20000,replace = False,axis = 0)

In [9]:
customers06 = pd.read_csv('D:/work/datasets/info/qrcode201906SUM.csv')
data6 = PhoneSheng(customers06)
df6 = data6.sample(n = 20000,replace = False,axis = 0)

In [10]:
print("df1:" + str(df1.shape))
print("df2:" + str(df2.shape))
print("df3:" + str(df3.shape))
print("df4:" + str(df4.shape))
print("df5:" + str(df5.shape))
print("df6:" + str(df6.shape))

df1:(20000, 14)
df2:(20000, 14)
df3:(20000, 14)
df4:(20000, 14)
df5:(20000, 14)
df6:(20000, 14)

In [11]:
print("样本数：" + str(df1.shape[0] 
                   + df2.shape[0] + df3.shape[0] + df4.shape[0]
                   + df5.shape[0] + df6.shape[0]))

样本数：120000

In [12]:
df = pd.concat([df1,df2,df3,df4,df5,df6])
df.shape

(120000, 14)

In [13]:
df.columns

Index(['card_num', 'credit_point_start_date', 'credit_point', 'trans_count',
       'actual_payment', 'user_id', 'province', 'city', 'gender', 'age',
       'phonebrand', 'phonecarrier', 'phoneregion', 'PhoneSheng'],
      dtype='object')

In [14]:
df.head()

,card_num,credit_point_start_date,credit_point,trans_count,actual_payment,user_id,province,city,gender,age,phonebrand,phonecarrier,phoneregion,PhoneSheng
704416,10100053205004613411,20190101000000,1200,3,1200,6154907.0,宁夏,银川,F,49.0,Honor,NaN,空,空
1852753,10100053205003336137,20190101000000,1000,2,1000,4800880.0,河南,信阳,F,25.0,vivo,联通,北京,北京
398367,10100053205008510024,20190101000000,2600,6,2600,10447788.0,湖南,株洲,M,26.0,Apple,移动,上海,上海
3253381,10100053205007237278,20190101000000,0,0,2500,9099595.0,广西,桂林,F,25.0,Apple,NaN,空,空
107015,10100053205006708657,20190101000000,17900,38,17900,8520514.0,安徽,淮南,M,39.0,HUAWEI,NaN,空,空

In [15]:
data = df[["user_id","credit_point_start_date","actual_payment","province","age","gender"]]

In [16]:
data.shape

(120000, 6)

In [25]:
data = data.reset_index()

In [31]:
data["yuan"] = data["actual_payment"] / 100
data = data.drop(columns=["actual_payment"])

In [32]:
data.head()

   df_index     user_id  credit_point_start_date province   age gender   yuan
0    704416   6154907.0           20190101000000       宁夏  49.0      F   12.0
1   1852753   4800880.0           20190101000000       河南  25.0      F   10.0
2    398367  10447788.0           20190101000000       湖南  26.0      M   26.0
3   3253381   9099595.0           20190101000000       广西  25.0      F   25.0
4    107015   8520514.0           20190101000000       安徽  39.0      M  179.0

In [33]:
data.describe()

,df_index,user_id,credit_point_start_date,age,yuan
count,1.200000e+05,1.200000e+05,1.200000e+05,120000.000000,120000.000000
mean,1.928572e+06,6.877344e+06,2.019035e+13,30.261200,56.375422
std,1.134256e+06,4.021008e+06,1.707832e+08,9.136386,62.818250
min,2.700000e+01,3.500000e+01,2.019010e+13,9.000000,0.000000
25%,9.493108e+05,3.314142e+06,2.019020e+13,23.000000,10.000000
50%,1.911661e+06,6.692427e+06,2.019035e+13,28.000000,27.000000
75%,2.869374e+06,1.029595e+07,2.019050e+13,35.000000,86.000000
max,4.271123e+06,1.471216e+07,2.019060e+13,86.000000,1178.000000

In [34]:
profile = data.profile_report(title = "二维码用户分析抽样1")

In [35]:
profile.to_file(output_file="D:/work/数据分析报告/新建文件夹/二维码用户分析/二维码用户分析抽样1.html")