In [1]:
import pandas as pd

In [2]:
df = pd.DataFrame({'AAA' : [4,5,6,7], 
                   'BBB' : [10,20,30,40],
                   'CCC' : [100,50,-30,-50]}); df

   AAA  BBB  CCC
0    4   10  100
1    5   20   50
2    6   30  -30
3    7   40  -50

In [3]:
df[(df.AAA <= 6) & (df.index.isin([0,2,4]))]

   AAA  BBB  CCC
0    4   10  100
2    6   30  -30

## Positional-oriented (Python slicing style : exclusive of end)
## Label-oriented (Non-Python slicing style : inclusive of end)
## General (Either slicing style : depends on if the slice contains labels or positions)

In [5]:
data = {'AAA' : [4,5,6,7], 'BBB' : [10,20,30,40],'CCC' : [100,50,-30,-50]};data

{'AAA': [4, 5, 6, 7], 'BBB': [10, 20, 30, 40], 'CCC': [100, 50, -30, -50]}

In [6]:
df = pd.DataFrame(data=data,index=['foo','bar','boo','kar']); df

     AAA  BBB  CCC
foo    4   10  100
bar    5   20   50
boo    6   30  -30
kar    7   40  -50

In [7]:
df.loc['bar':'kar']

     AAA  BBB  CCC
bar    5   20   50
boo    6   30  -30
kar    7   40  -50

In [8]:
df.iloc[0:3]

     AAA  BBB  CCC
foo    4   10  100
bar    5   20   50
boo    6   30  -30

In [10]:
df2 = pd.DataFrame(data=data,index=[1,2,3,4]);df2

   AAA  BBB  CCC
1    4   10  100
2    5   20   50
3    6   30  -30
4    7   40  -50

In [11]:
df2.iloc[1:3] #Position-oriented 角标

   AAA  BBB  CCC
2    5   20   50
3    6   30  -30

In [12]:
df2.loc[1:3] #Label-oriented 值

   AAA  BBB  CCC
1    4   10  100
2    5   20   50
3    6   30  -30