In [1]:
import pandas as pd
import numpy as np

# if-then用法

### 示例1：判断赋值

In [4]:
 df = pd.DataFrame(
     {'AAA' : [4,5,6,7],
      'BBB' : [10,20,30,40],
      'CCC' : [100,50,-30,-50]}) ; df

   AAA  BBB  CCC
0    4   10  100
1    5   20   50
2    6   30  -30
3    7   40  -50

In [5]:
df.loc[df.AAA >= 5,'BBB'] = -1; df

   AAA  BBB  CCC
0    4   10  100
1    5   -1   50
2    6   -1  -30
3    7   -1  -50

In [6]:
df.loc[df.AAA >= 5,['BBB','CCC']] = 555; df

   AAA  BBB  CCC
0    4   10  100
1    5  555  555
2    6  555  555
3    7  555  555

In [7]:
df.loc[df.AAA < 5,['BBB','CCC']] = 2000; df

   AAA   BBB   CCC
0    4  2000  2000
1    5   555   555
2    6   555   555
3    7   555   555

In [8]:
df_mask = pd.DataFrame({'AAA' : [True] * 4, 'BBB' : [False] * 4,'CCC' : [True,False] * 2});df_mask

    AAA    BBB    CCC
0  True  False   True
1  True  False  False
2  True  False   True
3  True  False  False

In [9]:
df.where(df_mask,-1000) #df中false都赋值-1000

   AAA   BBB   CCC
0    4 -1000  2000
1    5 -1000 -1000
2    6 -1000   555
3    7 -1000 -1000

### 示例2：新建列

In [10]:
df = pd.DataFrame({'AAA' : [4,5,6,7], 
                   'BBB' : [10,20,30,40],
                   'CCC' : [100,50,-30,-50]}); df

   AAA  BBB  CCC
0    4   10  100
1    5   20   50
2    6   30  -30
3    7   40  -50

In [11]:
df['logic'] = np.where(df['AAA'] > 5,'high','low'); df

   AAA  BBB  CCC logic
0    4   10  100   low
1    5   20   50   low
2    6   30  -30  high
3    7   40  -50  high