## set_index

DataFrame可以通过set_index方法，可以设置单索引和复合索引。 
DataFrame.set_index(keys, drop=True, append=False, inplace=False, verify_integrity=False) 
append添加新索引，drop为False，inplace为True时，索引将会还原为列

In [1]:
import pandas as pd

In [8]:
data = pd.DataFrame(
                    {
                    "a":['bar','bar','foo','foo'],
                    "b":['one','two','three','four'],
                    "c":['x','y','z','w'],
                    "d":['1','2','3','4']
                    }
                                    )
data

     a      b  c  d
0  bar    one  x  1
1  bar    two  y  2
2  foo  three  z  3
3  foo   four  w  4

In [9]:
indexed1 = data.set_index('c')
indexed1

     a      b  d
c
x  bar    one  1
y  bar    two  2
z  foo  three  3
w  foo   four  4

In [10]:
indexed2 = data.set_index(['a','b'])
indexed2

           c  d
a   b
bar one    x  1
    two    y  2
foo three  z  3
    four   w  4

### reset_index

reset_index可以还原索引，从新变为默认的整型索引 <br>
DataFrame.reset_index(level=None, drop=False, inplace=False, col_level=0, col_fill=”) <br>
level控制了具体要还原的那个等级的索引 <br>
drop为False则索引列会被还原为普通列，否则会丢失

In [11]:
indexed2

           c  d
a   b
bar one    x  1
    two    y  2
foo three  z  3
    four   w  4

In [12]:
indexed2.reset_index()

     a      b  c  d
0  bar    one  x  1
1  bar    two  y  2
2  foo  three  z  3
3  foo   four  w  4

In [13]:
indexed2.reset_index(drop=True)

   c  d
0  x  1
1  y  2
2  z  3
3  w  4