# Combine_first
## 若df7的数据缺失,则用df8的数据值填充df1的数据值

In [1]:
import pandas as pd
import numpy as np

In [2]:
df7 = pd.DataFrame([[np.nan, 3., 5.], [-4.6, np.nan, np.nan],[np.nan, 7., np.nan]])
df8 = pd.DataFrame([[-42.6, np.nan, -8.2], [-5., 1.6, 4]], index=[1, 2])

In [3]:
print(df7)
print(df8)

     0    1    2
0  NaN  3.0  5.0
1 -4.6  NaN  NaN
2  NaN  7.0  NaN
      0    1    2
1 -42.6  NaN -8.2
2  -5.0  1.6  4.0

In [4]:
df7.combine_first(df8)

     0    1    2
0  NaN  3.0  5.0
1 -4.6  NaN -8.2
2 -5.0  7.0  4.0

### 举例2

### 4）合并重叠数据
适用范围：

1）当两个对象的索引有部分或全部重叠时

2）用参数对象中的数据为调用者对象的缺失数据‘打补丁’

In [5]:
a = pd.Series([np.nan,2.5,np.nan,3.5,4.5,np.nan],index = ['a','b','c','d','e','f'])
b = pd.Series(np.arange(len(a)),index = ['a','b','c','d','e','f'])

In [6]:
print(a)
print("*"*20)
print(b)

a    NaN
b    2.5
c    NaN
d    3.5
e    4.5
f    NaN
dtype: float64
********************
a    0
b    1
c    2
d    3
e    4
f    5
dtype: int32

In [7]:
a.combine_first(b)#利用b填补了a的空值

a    0.0
b    2.5
c    2.0
d    3.5
e    4.5
f    5.0
dtype: float64