# Join
## 索引上的合并,是增加列而不是增加行

In [1]:
import pandas as pd
import numpy as np

In [2]:
df3=pd.DataFrame([[1,2],[3,4],[5,6]],index=['a','b','c'],columns=['ao','bo'])
df4=pd.DataFrame([[7,8],[9,10],[10,12]],index=['e','b','c'],columns=['aoe','boe'])

In [3]:
print(df3)
print(df4)

   ao  bo
a   1   2
b   3   4
c   5   6
   aoe  boe
e    7    8
b    9   10
c   10   12

In [4]:
df3.join(df4,how='outer')

    ao   bo   aoe   boe
a  1.0  2.0   NaN   NaN
b  3.0  4.0   9.0  10.0
c  5.0  6.0  10.0  12.0
e  NaN  NaN   7.0   8.0

In [5]:
#当合并的数据表列名字相同，通过lsuffix='', rsuffix='' 区分相同列名的列
df5=pd.DataFrame([[7,8],[9,10],[10,12]],index=['e','b','c'],columns=['aoe','boe'])
df6=pd.DataFrame([[7,8],[9,10],[10,12]],index=['e','b','c'],columns=['aoe','boe'])

In [6]:
print(df5)
print(df6)

   aoe  boe
e    7    8
b    9   10
c   10   12
   aoe  boe
e    7    8
b    9   10
c   10   12

In [7]:
#当合并的数据表列名字相同，通过lsuffix='', rsuffix='' 区分相同列名的列
df5.join(df6,how='outer',lsuffix='_l',rsuffix='_r')

   aoe_l  boe_l  aoe_r  boe_r
e      7      8      7      8
b      9     10      9     10
c     10     12     10     12