## 2、多对多的合并（一个表的连接键列有重复值，另一个表中的连接键有重复值）

In [2]:
import pandas as pd
import numpy as np

In [3]:
df1 = pd.DataFrame({'key':['b','b','a','c','a','a','b'],'data1': range(7)})
df2 = pd.DataFrame({'key':['a','b','a','b','b'],'data2': range(5)})

In [4]:
print("df1:")
print(df1)
print('*'*20)
print("df2")
print(df2)

df1:
   data1 key
0      0   b
1      1   b
2      2   a
3      3   c
4      4   a
5      5   a
6      6   b
********************
df2
   data2 key
0      0   a
1      1   b
2      2   a
3      3   b
4      4   b

In [6]:
df1.merge(df2)

    data1 key  data2
0       0   b      1
1       0   b      3
2       0   b      4
3       1   b      1
4       1   b      3
5       1   b      4
6       6   b      1
7       6   b      3
8       6   b      4
9       2   a      0
10      2   a      2
11      4   a      0
12      4   a      2
13      5   a      0
14      5   a      2

### 合并小结
1）默认情况下，会将两个表中相同列名作为连接键<br>

2）多对多，会采用笛卡尔积形式链接（左表连接键有三个值‘1，3，5’，右表有两个值‘2，3’，则会形成，（1，2）（1，3）（3，1），（3，2）。。。6种组合）<br>

## 3）存在多个连接键的处理

In [7]:
left = pd.DataFrame({'key1':['foo','foo','bar'],
                     'key2':['one','one','two'],
                     'lval':[1,2,3]})
right = pd.DataFrame({'key1':['foo','foo','bar','bar'],
                      'key2':['one','one','one','two'],
                      'rval':[4,5,6,7]})

In [9]:
print("left:")
print(left)
print('*'*20)
print("right:")
print(right)

left:
  key1 key2  lval
0  foo  one     1
1  foo  one     2
2  bar  two     3
********************
right:
  key1 key2  rval
0  foo  one     4
1  foo  one     5
2  bar  one     6
3  bar  two     7

In [10]:
pd.merge(left,right,on = ['key1','key2'],how = 'outer')

  key1 key2  lval  rval
0  foo  one   1.0     4
1  foo  one   1.0     5
2  foo  one   2.0     4
3  foo  one   2.0     5
4  bar  two   3.0     7
5  bar  one   NaN     6

1）连接键是多对多关系，应执行笛卡尔积形式<br>

2）多列应看连接键值对是否一致<br>

4）对连接表中非连接列的重复列名的处理<br>

In [11]:
pd.merge(left,right,on = 'key1')

  key1 key2_x  lval key2_y  rval
0  foo    one     1    one     4
1  foo    one     1    one     5
2  foo    one     2    one     4
3  foo    one     2    one     5
4  bar    two     3    one     6
5  bar    two     3    two     7

In [ ]:
pd.merge(left,right,on = 'key1',suffixes = ('_left','_right'))