## 建立数据集

In [1]:
import pandas as pd 
import numpy as np

In [2]:
df1=pd.DataFrame({'key':['a','b','c','d','e'],'data2':np.arange(5)})
df2=pd.DataFrame({'key':['a','b','c'],'data1':np.arange(3)})

In [3]:
print(df1)
print("*"*50)
print(df2)

   data2 key
0      0   a
1      1   b
2      2   c
3      3   d
4      4   e
**************************************************
   data1 key
0      0   a
1      1   b
2      2   c

In [4]:
#通过indicator表明merge的方式
data = pd.merge(df1,df2,on='key',how='left',indicator=True)
data

   data2 key  data1     _merge
0      0   a    0.0       both
1      1   b    1.0       both
2      2   c    2.0       both
3      3   d    NaN  left_only
4      4   e    NaN  left_only

## 多数据集合并

In [5]:
# 是针对合并后的数据再合并，不是一次性合并几个数据集
df1=pd.DataFrame({'key':['a','b','c','d','e'],'data1':np.arange(5)})
df2=pd.DataFrame({'key':['a','b','c'],'data2':np.arange(3)})
df3=pd.DataFrame({'key':['a','b','c','d'],'data3':np.arange(4)})

In [6]:
print(df1)
print(df2)
print(df3)

   data1 key
0      0   a
1      1   b
2      2   c
3      3   d
4      4   e
   data2 key
0      0   a
1      1   b
2      2   c
   data3 key
0      0   a
1      1   b
2      2   c
3      3   d

In [7]:
data = pd.merge(pd.merge(df1,df2,on='key',how='left'),df3,on='key',how='left')
data

   data1 key  data2  data3
0      0   a    0.0    0.0
1      1   b    1.0    1.0
2      2   c    2.0    2.0
3      3   d    NaN    3.0
4      4   e    NaN    NaN

## 多条件合并

In [8]:
df1=pd.DataFrame({'key':['a','b','c','d','e'],'key1': 
      ['one','one','two','one','two'],'data1':np.arange(5)})
df2=pd.DataFrame({'key':['a','b','c'],'key1': 
      ['one','one','two'],'data2':np.arange(3)})

In [9]:
data = pd.merge(df1,df2,on=['key','key1'],how='left')
data

   data1 key key1  data2
0      0   a  one    0.0
1      1   b  one    1.0
2      2   c  two    2.0
3      3   d  one    NaN
4      4   e  two    NaN