In [1]:
import pandas as pd
import seaborn as sns
import matplotlib.pyplot as plt

In [2]:
import warnings
warnings.filterwarnings('ignore')
pd.set_option('max_colwidth',1000)
from matplotlib.font_manager import FontProperties
chinese = FontProperties(fname = 'C:/Windows/Fonts/msyh.ttc')
plt.rcParams['font.sans-serif'] = [u'SimHei']
plt.rcParams['axes.unicode_minus'] = False

In [3]:
def PhoneSheng(data):
    data['phoneregion'] = data['phoneregion'].fillna("空")
    data["PhoneSheng"] = data['phoneregion'].apply(lambda x:x[:2])
    return data

In [4]:
customers01 = pd.read_csv('D:/work/datasets/info/qrcode201901SUM.csv')
data1 = PhoneSheng(customers01)

In [5]:
customers02 = pd.read_csv('D:/work/datasets/info/qrcode201902SUM.csv')
data2 = PhoneSheng(customers02)

In [6]:
customers03 = pd.read_csv('D:/work/datasets/info/qrcode201903SUM.csv')
data3 = PhoneSheng(customers03)

In [7]:
customers04 = pd.read_csv('D:/work/datasets/info/qrcode201904SUM.csv')
data4 = PhoneSheng(customers04)

In [8]:
customers05 = pd.read_csv('D:/work/datasets/info/qrcode201905SUM.csv')
data5 = PhoneSheng(customers05)

In [9]:
customers06 = pd.read_csv('D:/work/datasets/info/qrcode201906SUM.csv')
data6 = PhoneSheng(customers06)

In [10]:
print("data1:" + str(data1.shape))
print("data2:" + str(data2.shape))
print("data3:" + str(data3.shape))
print("data4:" + str(data4.shape))
print("data5:" + str(data5.shape))
print("data6:" + str(data6.shape))

data1:(3488703, 14)
data2:(3309696, 14)
data3:(3774432, 14)
data4:(4059881, 14)
data5:(4271167, 14)
data6:(4299151, 14)

In [11]:
print("样本数：" + str(data1.shape[0] 
                   + data2.shape[0] + data3.shape[0] + data4.shape[0]
                   + data5.shape[0] + data6.shape[0]))

样本数：23203030

In [12]:
data = pd.concat([data1,data2,data3,data4,data5,data6])
data.shape

(23203030, 14)

In [13]:
data.columns

Index(['card_num', 'credit_point_start_date', 'credit_point', 'trans_count',
       'actual_payment', 'user_id', 'province', 'city', 'gender', 'age',
       'phonebrand', 'phonecarrier', 'phoneregion', 'PhoneSheng'],
      dtype='object')

In [14]:
data.head()

,card_num,credit_point_start_date,credit_point,trans_count,actual_payment,user_id,province,city,gender,age,phonebrand,phonecarrier,phoneregion,PhoneSheng
0,10100053205005100036,20190101000000,1000,2,1000,5932913.0,北京,北京市,M,29.0,Apple,NaN,空,空
1,10100053205002982393,20190101000000,600,1,600,4305508.0,湖北,孝感,M,32.0,samsung,NaN,空,空
2,10100053205008437906,20190101000000,1200,2,700,10458765.0,内蒙古,呼伦贝尔盟,M,23.0,OnePlus,NaN,空,空
3,10100053205007380274,20190101000000,400,1,400,8970324.0,北京,北京市,F,31.0,Xiaomi,NaN,空,空
4,10100053205007858959,20190101000000,1100,2,1100,9793726.0,山东,济宁,F,18.0,vivo,NaN,空,空

In [15]:
df = data[["credit_point_start_date","actual_payment","user_id","province","age","gender"]]