inplace参数的取值：True、False

True：直接修改原对象

False：创建一个副本，修改副本，原对象不变（缺省默认）

method参数的取值 ： {‘pad’, ‘ffill’,‘backfill’, ‘bfill’, None}, default None

pad/ffill：用前一个非缺失值去填充该缺失值

backfill/bfill：用下一个非缺失值填充该缺失值

None：指定一个值去替换缺失值（缺省默认这种方式）

limit参数：限制填充个数

axis参数：修改填充方向

In [1]:
import pandas as pd
import numpy as np
from numpy import nan as NaN

In [2]:
df1=pd.DataFrame([[1,2,3],[NaN,NaN,2],[NaN,NaN,NaN],[8,8,NaN]])
df1

     0    1    2
0  1.0  2.0  3.0
1  NaN  NaN  2.0
2  NaN  NaN  NaN
3  8.0  8.0  NaN

## 一、不指定参数

In [3]:
# 常数填充
print (df1)
print ("-----------------------")
print (df1.fillna(100))

     0    1    2
0  1.0  2.0  3.0
1  NaN  NaN  2.0
2  NaN  NaN  NaN
3  8.0  8.0  NaN
-----------------------
       0      1      2
0    1.0    2.0    3.0
1  100.0  100.0    2.0
2  100.0  100.0  100.0
3    8.0    8.0  100.0

In [4]:
#2.用字典填充
df1.fillna({0:10,1:20,2:30})

      0     1     2
0   1.0   2.0   3.0
1  10.0  20.0   2.0
2  10.0  20.0  30.0
3   8.0   8.0  30.0

## 指定inplace参数

In [5]:

print (df1.fillna(0,inplace=True)) # 不创建副本，直接修改原数据集
print ("-------------------------")
print (df1)

None
-------------------------
     0    1    2
0  1.0  2.0  3.0
1  0.0  0.0  2.0
2  0.0  0.0  0.0
3  8.0  8.0  0.0

## 指定method参数

In [6]:
#指定method参数
 
df2 = pd.DataFrame(np.random.randint(0,10,(5,5)))
df2.iloc[1:4,3] = NaN
df2.iloc[2:4,4] = NaN
df2

   0  1  2    3    4
0  3  0  1  0.0  3.0
1  7  9  9  NaN  1.0
2  3  5  5  NaN  NaN
3  7  9  6  NaN  NaN
4  0  6  4  2.0  7.0

In [7]:
#1.method = 'ffill'/'pad'：用前一个非缺失值去填充该缺失值
 
df2.fillna(method='ffill')

   0  1  2    3    4
0  3  0  1  0.0  3.0
1  7  9  9  0.0  1.0
2  3  5  5  0.0  1.0
3  7  9  6  0.0  1.0
4  0  6  4  2.0  7.0

In [11]:
#2.method = 'bflii'/'backfill'：用下一个非缺失值填充该缺失值
print(df2)
print("____________")
print(df2.fillna(method='bfill'))

   0  1  2    3    4
0  3  0  1  0.0  3.0
1  7  9  9  NaN  1.0
2  3  5  5  NaN  NaN
3  7  9  6  NaN  NaN
4  0  6  4  2.0  7.0
____________
   0  1  2    3    4
0  3  0  1  0.0  3.0
1  7  9  9  2.0  1.0
2  3  5  5  2.0  7.0
3  7  9  6  2.0  7.0
4  0  6  4  2.0  7.0

## 指定limit参数

In [12]:
print(df2)
print("_________________________")
df2.fillna(method='bfill', limit=1)

   0  1  2    3    4
0  3  0  1  0.0  3.0
1  7  9  9  NaN  1.0
2  3  5  5  NaN  NaN
3  7  9  6  NaN  NaN
4  0  6  4  2.0  7.0
_________________________

   0  1  2    3    4
0  3  0  1  0.0  3.0
1  7  9  9  NaN  1.0
2  3  5  5  NaN  NaN
3  7  9  6  2.0  7.0
4  0  6  4  2.0  7.0

## 指定axis参数

In [14]:
print(df2)
print("_________________________")
print(df2.fillna(method="ffill", limit=1, axis=1))
print("_________________________")
print(df2.fillna(method="ffill", limit=2, axis=1))

   0  1  2    3    4
0  3  0  1  0.0  3.0
1  7  9  9  NaN  1.0
2  3  5  5  NaN  NaN
3  7  9  6  NaN  NaN
4  0  6  4  2.0  7.0
_________________________
     0    1    2    3    4
0  3.0  0.0  1.0  0.0  3.0
1  7.0  9.0  9.0  9.0  1.0
2  3.0  5.0  5.0  5.0  NaN
3  7.0  9.0  6.0  6.0  NaN
4  0.0  6.0  4.0  2.0  7.0
_________________________
     0    1    2    3    4
0  3.0  0.0  1.0  0.0  3.0
1  7.0  9.0  9.0  9.0  1.0
2  3.0  5.0  5.0  5.0  5.0
3  7.0  9.0  6.0  6.0  6.0
4  0.0  6.0  4.0  2.0  7.0