In [1]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt 
import seaborn as sns

In [2]:
# 银行流水记录表 bank_detail_train.txt
colmun_bank = ["user_id","time","loan_type","loan_amount","income"]
df_bank_train = pd.read_table(r"E:\datasets\rong360_loan\train\bank_detail_train.txt",sep=',',names=colmun_bank)
df_bank_train.head()

   user_id        time  loan_type  loan_amount  income
0     6965  5894316387          0    13.756664       0
1     6965  5894321388          1    13.756664       0
2     6965  5897553564          0    14.449810       0
3     6965  5897563463          1    10.527763       0
4     6965  5897564598          1    13.651303       0

In [4]:
# 放款时间信息loan_time.txt
columns_loanTime = ['user_id','time']
df_loanTime_train = pd.read_table(r"E:\datasets\rong360_loan\train\loan_time_train.txt",sep=',',names=columns_loanTime)
df_loanTime_train.head()

   user_id        time
0        1  5914855887
1        2  5914855887
2        3  5914855887
3        4  5914855887
4        5  5914855887

In [7]:
# 信用卡账单记录bill_detail.txt
columns_bill = ['user_id','time','bank_id','last_bill_amount','last_repay_amount','credit_amount','cur_bill_bal','cur_bill_minrepay','cons_num','cur_bill_amount','adjust_amount','cyclic_accr','avail_bal','borrow_cash','repay_status']
df_bill_train = pd.read_table(r"E:\datasets\rong360_loan\train\bill_detail_train.txt",sep=',',names=columns_bill)
# df_bill_train.head()

In [8]:
# 用户浏览行为 browse_history.txt
columns_browse = ['user_id','time','brows_beh','brows_num']
df_browse_train = pd.read_table(r"E:\datasets\rong360_loan\train\browse_history_train.txt",sep=',',names=columns_browse)
# df_browse_train.head()

In [5]:
# 筛选有银行流水的放款用户的用户id
df_bankId = pd.merge(df_bank_train,df_loanTime_train,how="left",on="user_id")

# 筛选出流水时间 < 放款时间的记录
df_bankId = df_bankId[(df_bankId["time_x"] <= df_bankId["time_y"])]

# 筛选出有银行流水且放款前的用户id并去重
bank_user = df_bankId[["user_id"]]
bank_user = bank_user.drop_duplicates(subset="user_id",keep='first')
bank_user.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 9271 entries, 0 to 6069672
Data columns (total 1 columns):
user_id    9271 non-null int64
dtypes: int64(1)
memory usage: 144.9 KB

In [6]:
# 筛选出以上三张表中共有id
user = pd.merge(pd.merge(bank_user,bill_user,how="inner",on="user_id"),browser_user, how = "inner",on = "user_id")

user.info()
# 得出5735个用户的记录是完整的。然后通过这5735个id筛选每张表的记录，并进行字段预处理。

NameError: name 'bill_user' is not defined