In [3]:
import pandas as pd
import numpy as np

In [4]:
df = pd.DataFrame({'A' : ['foo', 'bar', 'foo', 'bar','foo', 'bar', 'foo', 'foo'],
                   'B' : ['one', 'one', 'two', 'three','two', 'two', 'one', 'three'],
                   'C' : np.random.randn(8),
                   'D' : np.random.randn(8)})

In [5]:
df

     A      B         C         D
0  foo    one -0.458017  0.166860
1  bar    one  1.348397  0.319045
2  foo    two -3.721711  1.476770
3  bar  three  1.511236  0.041018
4  foo    two -1.074861  0.590221
5  bar    two -0.437897  0.334181
6  foo    one -0.679104  0.316166
7  foo  three  0.741394  0.579164

In [ ]:
data.columns

In [ ]:
data.index

In [ ]:
data.values

In [ ]:
gp = data.groupby('Brand')
gp

In [ ]:
#gp只是临时存储
gp.count()

In [ ]:
gp.count().index