# 离散值处理

### 字段说明
Rank:排名
Name:游戏名
Platform:平台
Year:发售年份
Genre:游戏类型
Publisher:发行商
NA_Sales:北美地区销量
EU_Sales:欧洲地区销量
JP_Sales:日本地区销量
Other_Sales:其他地区销量
Global_Sales:全球销量

In [1]:
import pandas as pd
import numpy as np

In [5]:
vg_df = pd.read_csv("datasets/vgsales.csv",encoding = "ISO-8859-1")
vg_df.shape

                       Name Platform    Year         Genre Publisher
0                Wii Sports      Wii  2006.0        Sports  Nintendo
1         Super Mario Bros.      NES  1985.0      Platform  Nintendo
2            Mario Kart Wii      Wii  2008.0        Racing  Nintendo
3         Wii Sports Resort      Wii  2009.0        Sports  Nintendo
4  Pokemon Red/Pokemon Blue       GB  1996.0  Role-Playing  Nintendo
5                    Tetris       GB  1989.0        Puzzle  Nintendo
6     New Super Mario Bros.       DS  2006.0      Platform  Nintendo

In [6]:
vg_df.head() 
vg_df[['Name','Platform','Year','Genre','Publisher']].iloc[0:7] #查看制定行和列

,Rank,Name,Platform,Year,Genre,Publisher,NA_Sales,EU_Sales,JP_Sales,Other_Sales,Global_Sales
0,1,Wii Sports,Wii,2006.0,Sports,Nintendo,41.49,29.02,3.77,8.46,82.74
1,2,Super Mario Bros.,NES,1985.0,Platform,Nintendo,29.08,3.58,6.81,0.77,40.24
2,3,Mario Kart Wii,Wii,2008.0,Racing,Nintendo,15.85,12.88,3.79,3.31,35.82
3,4,Wii Sports Resort,Wii,2009.0,Sports,Nintendo,15.75,11.01,3.28,2.96,33.00
4,5,Pokemon Red/Pokemon Blue,GB,1996.0,Role-Playing,Nintendo,11.27,8.89,10.22,1.00,31.37

In [7]:
# 游戏种类（取某列唯一值，二者效果相同）
genre = np.unique(vg_df['Genre']);genre
# genreA = pd.unique(vg_df['Genre']);genreA

array(['Action', 'Adventure', 'Fighting', 'Misc', 'Platform', 'Puzzle',
       'Racing', 'Role-Playing', 'Shooter', 'Simulation', 'Sports',
       'Strategy'], dtype=object)

## LabelEncoder标签编码

#### 将离散属性用数字表示，将转换成连续的数值型变量。即是对不连续的数字或者文本进行编号

### Label encoding在某些情况下很有用，但是场景限制很多。再举一例：比如有[dog,cat,dog,mouse,cat]，我们把其转换为[1,2,1,3,2]。这里就产生了一个奇怪的现象：dog和mouse的平均值是cat。所以目前还没有发现标签编码的广泛使用。

In [26]:
from sklearn.preprocessing import LabelEncoder

In [11]:
gle = LabelEncoder();gle

LabelEncoder()

In [12]:
# 各游戏类型对应编码
genre_labels = gle.fit_transform(vg_df['Genre']) #等同于 fit + transform
genre_labels

array([10,  4,  6, ...,  6,  5,  4], dtype=int64)

In [13]:
gle.classes_  (list(gle.classes_))
#所含所有离散类型（相当于np.unique(vg_df['Genre'])）

array(['Action', 'Adventure', 'Fighting', 'Misc', 'Platform', 'Puzzle',
       'Racing', 'Role-Playing', 'Shooter', 'Simulation', 'Sports',
       'Strategy'], dtype=object)

In [18]:
# 列出所有属性对应的数字
genre_mappings = {index: label for index, label in enumerate(gle.classes_)}
genre_mappings

{0: 'Action',
 1: 'Adventure',
 2: 'Fighting',
 3: 'Misc',
 4: 'Platform',
 5: 'Puzzle',
 6: 'Racing',
 7: 'Role-Playing',
 8: 'Shooter',
 9: 'Simulation',
 10: 'Sports',
 11: 'Strategy'}

In [27]:
vg_df['GenreLabel'] = genre_labels
vg_df[['Name','Platform','Year','Genre','GenreLabel']].iloc[1:7]

                       Name Platform    Year         Genre  GenreLabel
1         Super Mario Bros.      NES  1985.0      Platform           4
2            Mario Kart Wii      Wii  2008.0        Racing           6
3         Wii Sports Resort      Wii  2009.0        Sports          10
4  Pokemon Red/Pokemon Blue       GB  1996.0  Role-Playing           7
5                    Tetris       GB  1989.0        Puzzle           5
6     New Super Mario Bros.       DS  2006.0      Platform           4

## Map

In [33]:
poke_df = pd.read_csv('datasets/Pokemon.csv', encoding='utf-8')
poke_df.shape

(800, 13)

In [31]:
poke_df = poke_df.sample(random_state=1, frac=1).reset_index(drop=True) # 更多请参考dataframe.set_index().py

np.unique(poke_df['Generation'])

<bound method NDFrame.sample of        #                       Name    Type 1    Type 2  Total   HP  Attack  \
0      6  CharizardMega Charizard Y      Fire    Flying    634   78     104
1    460                  Abomasnow     Grass       Ice    494   90      92
2    161                    Sentret    Normal       NaN    215   35      46
3    667                     Litleo      Fire    Normal    369   62      50
4    224                  Octillery     Water       NaN    480   75     105
5    694                 Helioptile  Electric    Normal    289   44      38
6    483                     Dialga     Steel    Dragon    680  100     120
7    386        DeoxysDefense Forme   Psychic       NaN    600   50      70
8     78                   Rapidash      Fire       NaN    500   65     100
9    581                     Swanna     Water    Flying    473   75      87
10   236                    Tyrogue  Fighting       NaN    210   35      35
11   103                  Exeggutor     Grass   Psychic    520   95      95
12   266                    Silcoon       Bug       NaN    205   50      35
13   319      SharpedoMega Sharpedo     Water      Dark    560   70     140
14   641      TornadusTherian Forme    Flying       NaN    580   79     100
15   470                    Leafeon     Grass       NaN    525   65     110
16   392                  Infernape      Fire  Fighting    534   76     104
17   506                   Lillipup    Normal       NaN    275   45      60
18   208        SteelixMega Steelix     Steel    Ground    610   75     125
19   339                   Barboach     Water    Ground    288   50      48
20   278                    Wingull     Water    Flying    270   40      30
21   480                       Uxie   Psychic       NaN    580   75      75
22   312                      Minun  Electric       NaN    405   60      40
23   126                     Magmar      Fire       NaN    495   65      95
24   645    LandorusIncarnate Forme    Ground    Flying    600   89     125
25    42                     Golbat    Poison    Flying    455   75      80
26   605                     Elgyem   Psychic       NaN    335   55      55
27    55                    Golduck     Water       NaN    500   80      82
28   673                     Gogoat     Grass       NaN    531  123     100
29   109                    Koffing    Poison       NaN    340   40      65
..   ...                        ...       ...       ...    ...  ...     ...
770  130      GyaradosMega Gyarados     Water      Dark    640   95     155
771   80                    Slowbro     Water   Psychic    490   95      75
772  430                  Honchkrow      Dark    Flying    505  100     125
773  453                   Croagunk    Poison  Fighting    300   48      61
774  683                 Aromatisse     Fairy       NaN    462  101      72
775  200                 Misdreavus     Ghost       NaN    435   60      60
776  521                   Unfezant    Normal    Flying    488   80     115
777  503                   Samurott     Water       NaN    528   95     100
778  363                     Spheal       Ice     Water    290   70      40
779  607                    Litwick     Ghost      Fire    275   50      30
780  442                  Spiritomb     Ghost      Dark    485   50      92
781  233                   Porygon2    Normal       NaN    515   85      80
782  421                    Cherrim     Grass       NaN    450   70      60
783  326                    Grumpig   Psychic       NaN    470   80      45
784  235                   Smeargle    Normal       NaN    250   55      20
785  255                    Torchic      Fire       NaN    310   45      60
786  164                    Noctowl    Normal    Flying    442  100      50
787  259                  Marshtomp     Water    Ground    405   70      85
788  357                    Tropius     Grass    Flying    460   99      68
789  458                    Mantyke     Water    Flying    345   45      20
790  680                   Doublade     Steel     Ghost    448   59     110
791  524                 Roggenrola      Rock       NaN    280   55      75
792  120                     Staryu     Water       NaN    340   30      45
793  133                      Eevee    Normal       NaN    325   55      55
794  584                  Vanilluxe       Ice       NaN    535   71      95
795  648         MeloettaAria Forme    Normal   Psychic    600  100      77
796  697                  Tyrantrum      Rock    Dragon    521   82     121
797   66                     Machop  Fighting       NaN    305   70      80
798  217                   Ursaring    Normal       NaN    500   90     130
799   32                   Nidoran♂    Poison       NaN    273   46      57

     Defense  Sp. Atk  Sp. Def  Speed Generation  Legendary
0         78      159      115    100      Gen 1      False
1         75       92       85     60      Gen 4      False
2         34       35       45     20      Gen 2      False
3         58       73       54     72      Gen 6      False
4         75      105       75     45      Gen 2      False
5         33       61       43     70      Gen 6      False
6        120      150      100     90      Gen 4       True
7        160       70      160     90      Gen 3       True
8         70       80       80    105      Gen 1      False
9         63       87       63     98      Gen 5      False
10        35       35       35     35      Gen 2      False
11        85      125       65     55      Gen 1      False
12        55       25       25     15      Gen 3      False
13        70      110       65    105      Gen 3      False
14        80      110       90    121      Gen 5       True
15       130       60       65     95      Gen 4      False
16        71      104       71    108      Gen 4      False
17        45       25       45     55      Gen 5      False
18       230       55       95     30      Gen 2      False
19        43       46       41     60      Gen 3      False
20        30       55       30     85      Gen 3      False
21       130       75      130     95      Gen 4       True
22        50       75       85     95      Gen 3      False
23        57      100       85     93      Gen 1      False
24        90      115       80    101      Gen 5       True
25        70       65       75     90      Gen 1      False
26        55       85       55     30      Gen 5      False
27        78       95       80     85      Gen 1      False
28        62       97       81     68      Gen 6      False
29        95       60       45     35      Gen 1      False
..       ...      ...      ...    ...        ...        ...
770      109       70      130     81      Gen 1      False
771      110      100       80     30      Gen 1      False
772       52      105       52     71      Gen 4      False
773       40       61       40     50      Gen 4      False
774       72       99       89     29      Gen 6      False
775       60       85       85     85      Gen 2      False
776       80       65       55     93      Gen 5      False
777       85      108       70     70      Gen 5      False
778       50       55       50     25      Gen 3      False
779       55       65       55     20      Gen 5      False
780      108       92      108     35      Gen 4      False
781       90      105       95     60      Gen 2      False
782       70       87       78     85      Gen 4      False
783       65       90      110     80      Gen 3      False
784       35       20       45     75      Gen 2      False
785       40       70       50     45      Gen 3      False
786       50       76       96     70      Gen 2      False
787       70       60       70     50      Gen 3      False
788       83       72       87     51      Gen 3      False
789       50       60      120     50      Gen 4      False
790      150       45       49     35      Gen 6      False
791       85       25       25     15      Gen 5      False
792       55       70       55     85      Gen 1      False
793       50       45       65     55      Gen 1      False
794       85      110       95     79      Gen 5      False
795       77      128      128     90      Gen 5      False
796      119       69       59     71      Gen 6      False
797       50       35       35     35      Gen 1      False
798       75       75       75     55      Gen 2      False
799       40       40       40     50      Gen 1      False

[800 rows x 13 columns]>

In [32]:
poke_df.shape

(800, 13)