In [1]:
import pandas as pd

In [2]:
source_data = pd.read_csv("creditcard.csv")
source_data.shape

(284807, 31)

In [4]:
source_data.head(3)

,Time,V1,V2,V3,V4,V5,V6,V7,V8,V9,...,V21,V22,V23,V24,V25,V26,V27,V28,Amount,Class
0,0.0,-1.359807,-0.072781,2.536347,1.378155,-0.338321,0.462388,0.239599,0.098698,0.363787,...,-0.018307,0.277838,-0.110474,0.066928,0.128539,-0.189115,0.133558,-0.021053,149.62,0
1,0.0,1.191857,0.266151,0.166480,0.448154,0.060018,-0.082361,-0.078803,0.085102,-0.255425,...,-0.225775,-0.638672,0.101288,-0.339846,0.167170,0.125895,-0.008983,0.014724,2.69,0
2,1.0,-1.358354,-1.340163,1.773209,0.379780,-0.503198,1.800499,0.791461,0.247676,-1.514654,...,0.247998,0.771679,0.909412,-0.689281,-0.327642,-0.139097,-0.055353,-0.059752,378.66,0

除了Amount其他都在[0,1]之间

### 标准化

MinMax : 结果[0,1] $$X_{norm} = \frac{X - X_{min}}{X_{max} - X_{min}}$$

Z-Score ： 结果[-1,1] $$z = \frac{x - \mu}{\sigma}$$