In [1]:
import pandas as pd

In [2]:
listen_count = pd.read_csv(r"E:\datasets\train_triplets.txt.zip",header=None,delimiter='\t')

In [4]:
listen_count.head()

                                          0                   1  2
0  b80344d063b5ccb3212f76538f3d9e43d87dca9e  SOAKIMP12A8C130995  1
1  b80344d063b5ccb3212f76538f3d9e43d87dca9e  SOAPDEY12A81C210A9  1
2  b80344d063b5ccb3212f76538f3d9e43d87dca9e  SOBBMDR12A8C13253B  2
3  b80344d063b5ccb3212f76538f3d9e43d87dca9e  SOBFNSP12AF72A0E22  1
4  b80344d063b5ccb3212f76538f3d9e43d87dca9e  SOBFOVM12A58A7D494  1

In [6]:
listen_count[2] =1

In [7]:
listen_count[2]

0           1
1           1
2           1
3           1
4           1
5           1
6           1
7           1
8           1
9           1
10          1
11          1
12          1
13          1
14          1
15          1
16          1
17          1
18          1
19          1
20          1
21          1
22          1
23          1
24          1
25          1
26          1
27          1
28          1
29          1
           ..
48373556    1
48373557    1
48373558    1
48373559    1
48373560    1
48373561    1
48373562    1
48373563    1
48373564    1
48373565    1
48373566    1
48373567    1
48373568    1
48373569    1
48373570    1
48373571    1
48373572    1
48373573    1
48373574    1
48373575    1
48373576    1
48373577    1
48373578    1
48373579    1
48373580    1
48373581    1
48373582    1
48373583    1
48373584    1
48373585    1
Name: 2, Length: 48373586, dtype: int64