In [1]:
import pandas as pd

In [6]:
df = pd.DataFrame({'A':['a','b','b'],'B':['1','2','3'],'C':['c','r','r']})
df

   A  B  C
0  a  1  c
1  b  2  r
2  b  3  r

In [8]:
df1 =  df.drop_duplicates(subset=['A','C'],keep='first') # 保留首个重复
df1

   A  B  C
0  a  1  c
1  b  2  r

In [10]:
df2 = df.drop_duplicates(subset=['A',"C"],keep=False) # 不保留重复项
df2

   A  B  C
0  a  1  c

In [11]:
df3 = df1.append(df2)
df3

   A  B  C
0  a  1  c
1  b  2  r
0  a  1  c

In [12]:
df4 = df3.drop_duplicates(subset=["A","C"],keep=False)
df4

   A  B  C
1  b  2  r