In [1]:
import pandas as pd

In [2]:
data=pd.DataFrame({'产品':['A','B','A','A'],'数量':[30,50,30,30],'天气':['晴天','雨天','晴天','雨天']});data

  产品  数量  天气
0  A  30  晴天
1  B  50  雨天
2  A  30  晴天
3  A  30  雨天

In [3]:
data.duplicated(subset=['产品','数量'],keep=False)

0     True
1    False
2     True
3     True
dtype: bool

In [4]:
data["重复行"] = data.duplicated(subset=['产品','数量'],keep=False)
data

  产品  数量  天气    重复行
0  A  30  晴天   True
1  B  50  雨天  False
2  A  30  晴天   True
3  A  30  雨天   True

In [7]:
data[data['重复行'] == True]

  产品  数量  天气   重复行
0  A  30  晴天  True
2  A  30  晴天  True
3  A  30  雨天  True