In [1]:
import pandas as pd
from pandas import Series,DataFrame
import numpy as np

In [2]:
df = DataFrame(np.arange(20).reshape(5,4),columns=['a','b','c','d'],index=range(4,9))
df

    a   b   c   d
4   0   1   2   3
5   4   5   6   7
6   8   9  10  11
7  12  13  14  15
8  16  17  18  19

In [3]:
# 只要b列值为5和13所在行

df[df.b.isin([5,13])]

    a   b   c   d
5   4   5   6   7
7  12  13  14  15

## 如果想要删除除了这两行之外的数据<br>

先把b取出并转换为列表<br>
再从列表中把不需要的行(值)去除<br>
再在df中使用isin()

In [4]:
test = list(df.b)
test

[1, 5, 9, 13, 17]

In [5]:
test.remove(5)
test

[1, 9, 13, 17]

In [6]:
test.remove(13)
test

[1, 9, 17]

In [7]:
df[df.b.isin(test)]

    a   b   c   d
4   0   1   2   3
6   8   9  10  11
8  16  17  18  19

In [9]:
df[~df.b.isin(test)]

    a   b   c   d
5   4   5   6   7
7  12  13  14  15