In [2]:
import pandas as pd
import numpy as np

In [5]:
s = pd.Series(list('abca'))
s

0    a
1    b
2    c
3    a
dtype: object

In [6]:
pd.get_dummies(s)

   a  b  c
0  1  0  0
1  0  1  0
2  0  0  1
3  1  0  0

In [7]:
pd.get_dummies(s,drop_first=True)

   b  c
0  0  0
1  1  0
2  0  1
3  0  0

In [10]:
s1 = ['a','b',np.nan]
s1

['a', 'b', nan]

In [11]:
pd.get_dummies(s1,dummy_na=True)

   a  b  NaN
0  1  0    0
1  0  1    0
2  0  0    1

In [12]:
df = pd.DataFrame({'A':['a','b','c'],'B':['b','a','c'],'C':['1','2','3']})
df

   A  B  C
0  a  b  1
1  b  a  2
2  c  c  3

In [14]:
pd.get_dummies(df,prefix=['col1','col2','col3'])

   col1_a  col1_b  col1_c  col2_a  col2_b  col2_c  col3_1  col3_2  col3_3
0       1       0       0       0       1       0       1       0       0
1       0       1       0       1       0       0       0       1       0
2       0       0       1       0       0       1       0       0       1

In [3]:
poke_df = pd.read_csv('datasets/Pokemon.csv', encoding='utf-8')
poke_df = poke_df.sample(random_state=1, frac=1).reset_index(drop=True)

In [4]:
gen_dummy_features = pd.get_dummies(poke_df['Generation'], drop_first=True)
pd.concat([poke_df[['Name', 'Generation']], gen_dummy_features], axis=1).iloc[4:10]

                  Name Generation  Gen 2  Gen 3  Gen 4  Gen 5  Gen 6
4            Octillery      Gen 2      1      0      0      0      0
5           Helioptile      Gen 6      0      0      0      0      1
6               Dialga      Gen 4      0      0      1      0      0
7  DeoxysDefense Forme      Gen 3      0      1      0      0      0
8             Rapidash      Gen 1      0      0      0      0      0
9               Swanna      Gen 5      0      0      0      1      0

In [5]:
gen_onehot_features = pd.get_dummies(poke_df['Generation'])
pd.concat([poke_df[['Name', 'Generation']], gen_onehot_features], axis=1).iloc[4:10]

                  Name Generation  Gen 1  Gen 2  Gen 3  Gen 4  Gen 5  Gen 6
4            Octillery      Gen 2      0      1      0      0      0      0
5           Helioptile      Gen 6      0      0      0      0      0      1
6               Dialga      Gen 4      0      0      0      1      0      0
7  DeoxysDefense Forme      Gen 3      0      0      1      0      0      0
8             Rapidash      Gen 1      1      0      0      0      0      0
9               Swanna      Gen 5      0      0      0      0      1      0